<html>
	<head>
		<title> Calculator </title>
	</head>
	
	<body>				
			<div style="text-align:center;">
   
   			<h1> Simple Calculator </h1> 
   
			<form action="/add" method="post">
			Operand1 <input size="10" dir="rtl" type = "text" name="number1" id="number1" >  <br> <br>
			Operand2 <input size="10" dir="rtl" type = "text" name="number2" id="number2" >  <br> <br>
			
			<input type = "submit" name="add" style="width: 5%; id="add"  value="Add"> 
			</form>
			
			
			</div>	
	</body>

</html>